.activities-section{
    background:var(--section);
}

.activity-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:60px;
}

.activity-card{
    background:var(--card-bg);
    padding:35px;
    border-radius:20px;
    border:1px solid var(--border);
    transition:0.35s ease;
    cursor:pointer;
}

.activity-card:hover{
    transform:translateY(-10px);
    box-shadow:var(--shadow);
}

.activity-icon{
    font-size:40px;
    color:var(--primary);
    margin-bottom:20px;
}

.activity-card h3{
    margin-bottom:15px;
    color:var(--dark);
}

.activity-card p{
    color:var(--text);
    line-height:1.8;
}