.footer{
    background:#0B1120;
    color:white;
    text-align:center;
    padding:40px 20px;
}

.footer h3{
    margin-bottom:10px;
}

.footer p{
    color:#D1D5DB;
    margin-bottom:10px;
}

.footer small{
    color:#9CA3AF;
}